@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --mauve: #Faa6FF;
    --pink-lav: #efc3f5
    --royal-purple: #7353BA;
    --russian-violet: #2f195F;
    --rich-black: #0f1020;
    --font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #0f1020;
}


* {
/* disable pesky noobs */
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: ;
}

.nav-control {
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border-radius: 20px;
/* Visual Diff */
    background: transparent;
    border: 2px solid #2f195F;
    font-family: 'Quicksand', sans-serif;

}


.nav-control ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-control a {
    font-size: 17px;
    padding: 10px 15px; 
    color: white;
}

.nav-control a:link {
    text-decoration: none;
}

.nav-control h1 {
    padding-left: 12px;
    size: 25px;
    color: #fff;
}

.nav-control a:hover {
    color: var(--mauve);
    font-size: 25px;
}