@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --mauve: #Faa6FF;
    --pink-lav: #efc3f5
    --royal-purple: #7353BA;
    --russian-violet: #2f195F;
    --rich-black: #0f1020;
    --font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #0f1020;
}


* {
/* disable pesky noobs */
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav-control {
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border-radius: 20px;
/* Visual Diff */
    background: transparent;
    border: 2px solid #2f195F;
}


.nav-control ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-control a {
    font-size: 17px;
    padding: 10px 15px; 
    color: white;
}

.nav-control a:link {
    text-decoration: none;
    opacity: 25%;
}

.nav-control h1 {
    padding-left: 12px;
    size: 25px;
    color: #fff;
}

.nav-control a:hover {
    opacity: 1;
    color: #Faa6FF;
    -webkit-transition:opacity 1500ms ease-out;
    -moz-transition:opacity 1500ms ease-out;
    -o-transition:opacity 1500ms ease-out;
    transition:opacity 1500ms ease-out;
}


.grid {
    padding-top: 15px;
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
  }
  
  .grid-item {
    background-color: #2f195F;
    backdrop-filter: blur(40px);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    padding: 3rem;
  }
  
  .card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  
  .card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #c0c0c0;
    margin-bottom: 2.5rem;
  }
  
  .card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    text-align: center;
    color: #2f195F;
    background-color: #Faa6FF;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }
  
  .card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
    background-color: #Faa6FF;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
    margin-left: 1.5rem;
  }
  
  @media only screen and (max-width: 60em) {
    body {
      padding: 3rem;
    }
  
    .grid {
      grid-gap: 3rem;
    }
  }